.payment-success-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .payment-success-row {
    text-align: center;
  }
  
  .payment-success-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .payment-success-text {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .payment-success-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
  }