.mainContainer {
  background-color: #f5f5f5;
}

.flexContainer {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.leftContainer {
  min-width: 70%;
}

.rightContainer {
  background-color: white;
  padding: 2rem 1rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%),
    0 1px 3px 0 rgb(0 0 0 / 20%);
  border-radius: 0 0 8px 8px;
  max-width: 30%;
}

input[type="radio"] {
  appearance: none;
  height: 20px;
  width: 20px;
  padding: 3px;
  border: 1px solid rgb(16, 163, 16);
  border-radius: 50%;
}
input[type="radio"]:checked {
  background-color: rgb(16, 163, 16);
  background-clip: content-box;
}

.TPP_Div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 1rem;
}

.otherCharges .otherCharges_Div {
  gap: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}
.detailsContainer {
  background-color: #f5f5f5;
  padding: 16px;
  margin-bottom: 3rem;
}
.Totalbtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  max-width: 440px;
  margin-top: 0;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background-color: #10a310;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 2px 2px 0 rgb(0 0 0 / 14%);
}

.productTotalContainer {
  min-height: 100%;
}

.imageDiv {
  display: flex;
  justify-content: center;
  height: 250px;
  border: 1px solid lightgray;
  background-color: white;
}

.imageDiv img {
  width: 500px;
}

.DOT {
  font-size: 2px;
  margin: 0 5px;
  padding-top: 5px;
}

.carInfoDiv {
  padding: 1rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%),
    0 1px 3px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  margin-top: 16px;
  background-color: white;
}

.carInfoDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 0;
}

.carInfoRating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
}

.tripstartDOT {
  /* position: absolute; */
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #10a310;
  display: inline-block;
  border: 8px solid #e6ffea;
  box-sizing: content-box;
}

.tripendDOT {
  /* position: absolute; */
  content: "";
  width: 8px;
  height: 8px;
  background: #e02d2d;
  display: inline-block;
  border: 8px solid #fff0f0;
  box-sizing: content-box;
}

.tripenddiv,
.tripstartdiv,
.tripInfoContainer {
  display: flex;
}

.tripInfoContainer {
  padding: 0.5rem 0;
}

.tripenddiv,
.tripstartdiv {
  gap: 0.5rem;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: #1f1f1f;
}

.tripstartdiv {
  width: 50%;
}

.mapDiv {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.hiddenContainer,
.locationDiv {
  padding: 1rem;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%),
    0 1px 3px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  background-color: white;
}

.contentText {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.24px;
  color: #1f1f1f;
}

.contentSubText {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #a8a8a8;
}

.cardHyperlink {
  padding-top: 8px;
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #10a310;
}

.exactLocation {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #5160c2;
  background: #f0f4ff;
  width: 100%;
  padding: 8px 6px;
  border-radius: 4px;
  margin-top: 12px;
}
.locationDiv {
  width: 50%;
}
