* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}


/* NavBar Component*/
.nav {
  background: black;
}

/* Hero Section */
.hero_section {
  background: url("https://www.zoomcar.com/img/hero-banner-web.png");
  background-size: cover;
}


/* 720px devices */

@media only screen and (max-width:720px) {
  .nav {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .hero_section {
    padding-top: 15% !important;
  }

  .logo {
    display: none;
  }

  .signup {
    display: none;
  }
}