* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/* NavBar Component*/
.nav {
  background: black;
}

/* Hero Section */
.hero_section {
  background: url(https://www.zoomcar.com/img/hero-banner-web.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 43px;
}

/* Slider Menu */
.menu li {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round_trip {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
  padding: 5px;
}

.plane_trip {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50%;
  padding: 5px;
}

.find_cars_btn {
  width: 100%;
}

.trip {
  width: 100%;
}

.find-cars {
  width: 30%;
  margin: auto;
}

/* 720px devices */
@media only screen and (max-width: 768px) {
  .nav {
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .hero_section {
    padding-top: 15% !important;
  }

  .logo {
    display: none;
  }

  .signup {
    display: none;
  }

  .hero_section h1 {
    font-size: 20px !important;
  }

  .hero_section h3 {
    font-size: 16px !important;
  }

  .hero_section_text {
    width: 85% !important;
  }

  .become_host_txt {
    display: none;
  }

  .host_btn {
    padding: 10px !important;
  }

  .slider_content {
    width: 80vw !important;
  }

  .empty_area {
    width: 30vw !important;
  }

  .find-cars {
    width: 80%;
  }
}

/* 480px devices */
@media only screen and (max-width: 480px) {
  .hero_section {
    padding: 20px !important;
    padding-top: 25% !important;
  }

  .hero_section h1 {
    font-size: 14px !important;
  }

  .hero_section h3 {
    font-size: 12px !important;
  }

  .hero_section_text {
    width: 100% !important;
  }

  .round_trip {
    padding: 5px 0;
  }

  .plane_trip {
    padding: 5px 0;
  }

  .find-cars {
    width: 100%;
  }
}
