.fs_12px {
  font-size: 12px;
}
.fs_11px {
  font-size: 11px;
}
.gapGrid {
  gap: 0.5rem;
}

.sortMenuGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Pevent {
  cursor: pointer;
}

[aria-disabled="true"] {
  opacity: 0.5;
}
